* {
  box-sizing: border-box;
}

.root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-inline: 0.5rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.actions {
  display: grid;
  grid-template-rows: auto-fit;
  gap: 1rem;
}

.filePicker {
  padding: 0.5rem;
  font-size: 1rem;
  background-color:  hsl(210, 36%, 44%, 0.2);
  border-radius: 0.5rem;
  width: 100%;
}

.options {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(210, 36%, 44%, 0.1);
  border-radius: 0.5rem;
}

.options label {
  padding-inline: 0.5rem;
}

.upload {
  gap: 0.5rem;
}

.info {
  background-color:  hsl(210, 36%, 44%, 0.2);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr 1fr;
}

.download_button {
  align-content: center;
}

.list-row {
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
}

.color-green {
  background-color: hsl(153, 36%, 44%);
}
.color-blue {
  background-color: hsl(210, 36%, 44%);
}

.grid {
  display: grid;
}