:root {
    --fs-sm: clamp(0.4rem, 0.5rem, 0.75rem);
    --fs-base: clamp(0.75, 0.9rem, 1.1rem);
    --fs-md: clamp(1.1rem, 1.125rem, 1.2rem);
    --fs-lg: clamp(1.2rem, 1.5rem, 1.7rem);

    --color-highlight: hsl(210, 36%, 44%, 0.2);
    --color-light: hsl(20, 100%, 95%);

    --color-green: hsl(153, 36%, 44%);
    --color-green-light: hsl(153, 36%, 54%);
    --color-green-dark: hsl(153, 36%, 34%);
    --color-blue: hsl(210, 36%, 44%);
    --color-blue-light: hsl(210, 36%, 54%);
    --color-blue-dark: hsl(210, 36%, 34%);
    --color-red: hsl(10, 36%, 44%);
    --color-red-light: hsl(10, 36%, 54%);
    --color-red-dark: hsl(10, 36%, 34%);

    --radius: 0.5rem;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns:
        [full-width-start] 0.5fr [content-start] 2fr
        [content-end] 0.5fr [full-width-end];
    gap: 0.5rem;
    /*grid-template-rows: [topbar-start] 0.5fr [title-start] 0.5fr [upload-start] 5rem [info-start] 1fr;*/
    position: relative;
    grid-template-rows: 0.5fr 0.5fr 1fr 2fr;
}

.content {
    grid-column: content;
}

.full-width {
    grid-column: content;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.color-green {
    background-color: var(--color-green);
}

.color-blue {
    background-color: var(--color-blue);
}

.color-red {
    background-color: var(--color-red);
}

.italic {
    font-style: italic;
}

.strong {
    font-weight: bold;
}

@media (max-width: 500px) {
    .content {
        grid-column: full-width;
    }
}
