.upload {
    gap: 1rem;
    place-items: center;
    justify-items: center;
}

.upload input {
    font-size: var(--fs-base);
    padding: 1rem;
    background-color: var(--color-highlight);
    flex-grow: 1;
    border-radius: var(--radius);
}

.info {
    font-size: var(--fs-base);
    padding: 1rem;
    background-color: var(--color-highlight);
    border-radius: var(--radius);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.options {
    background-color: var(--color-highlight);
    border-radius: var(--radius);
    padding: 1rem;
}

.list-row {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-items: center;
    align-items: center;
}

.button,
button {
    border-style: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
}

button:hover,
button:active {
    outline: 1px solid var(--color-light);
}

.fileName {
    grid-column: 1/-1;
}

.fileName::before {
    content: "Navn:";
    font-weight: bold;
    padding-inline-end: 1rem;
    display: inline-block;
}
